/*selector{
	property :value;
}*/
body {background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 font-family: 'Amatic SC'; cursive; font-weight: bold;
}




h2 { color: #4c4c72;text-align:right; 
}

 


